﻿@inherits System.Web.Mvc.WebViewPage<GenericController.Models.Database.BaseEntity>

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        @foreach (System.Reflection.PropertyInfo pi in Model.GetType().GetProperties())
        {
            if (pi.Name == "Id")
            {
                continue;
            }
            else if (pi.CustomAttributes.Any(a => a.AttributeType == typeof(GenericController.Attributes.ReadOnlyAttribute)))
            {
                continue;
            }
            else if (pi.CustomAttributes.Any(a => a.AttributeType == typeof(GenericController.Attributes.HiddenAttribute)))
            {
                continue;
            }
            else if (pi.Name.Contains("Id") == true)
            {
                IEnumerable<SelectListItem> values = ViewBag.Dropdown[pi.Name];

                <div class="form-group">
                    @Html.Label(pi.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList((string)pi.Name, values, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessage(pi.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

            }
            else
            {
                <div class="form-group">
                    @Html.Label(pi.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Editor(pi.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessage(pi.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
