﻿
@inherits System.Web.Mvc.WebViewPage<IEnumerable<GenericController.Models.Database.BaseEntity>>
@{
    ViewBag.Title = "Index - " + ViewBag.TitleName;
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
        </td>
    </tr>
}

</table>
