﻿@inherits System.Web.Mvc.WebViewPage<GenericController.Models.Database.BaseEntity>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        @foreach (System.Reflection.PropertyInfo pi in Model.GetType().GetProperties())
        {
            if (pi.Name.Contains("Id"))
            {
                continue;
            }
            else if (pi.CustomAttributes.Any(a => a.AttributeType == typeof(GenericController.Attributes.HiddenAttribute)))
            {
                continue;
            }

            <dt>@Html.DisplayName(pi.Name)</dt>
            <dd>@Html.Display(pi.Name)</dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")

</p>
